@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /*COLORES*/

    --green-dark: #274034;
    --green-light: #878c5e;
    --gold-dark: #bfaf5e;
    --gold: #d9c76c;
    --cream: #f2ead0;

    --white: #ffffff;
    --black: #111111;
    --dark: #16130f;

    --text-cream: #f2ead0;
    --text-dark: #2b2b2b;
    --color-border: rgba(242, 234, 208, .15);

    /*TIPOGRAFÍA*/

    --font-title: "Cormorant Garamond", Serif;
    --font-text: "Poppins", sans-serif;

    /*NEGRITAS*/

    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-extrabold: 800;

    /*ALTURA DE LINEA*/

    --lh-tight: 1.1;
    --lh-normal: 1.5;
    --lh-relaxed: 1.8;


    /*TAMAÑOS*/

    --fs-xs: .8rem;
    --fs-sm: .95rem;
    --fs-base: 1rem;
    --fs-lg: 1.2rem;
    --fs-xl: 1.5rem;
    --fs-2xl: 2.5rem;
    --fs-3xl: 3.8rem;
    --fs-4xl: 5.5rem;

    /*ESPACIOS*/

    --space-xs: .5rem;
    --space-sm: 1rem;
    --space-md: 2rem;
    --space-lg: 4rem;
    --space-xl: 6rem;
    --space-2xl: 8rem;

    /*CONTENEDOR*/

    --container-width: 1400px;
    --container-padding: 2rem;

    /*BORDES*/

    --radius-xs: .25rem;
    --radius-sm: .5rem;
    --radius-md: .75rem;
    --radius-lg: 1.25rem;
    --radius-xl: 2rem;
    --radius-full: 999px;
    --radius-circle:50%;

    /*SOMBRAS*/

    --shadow-sm: 0 5px 15px rgba(0,0,0,.15);
    --shadow-md: 0 15px 35px rgba(0,0,0,.25);
    --shadow-lg: 0 25px 60px rgba(0,0,0,.45);

    /*TRANSICIONES*/

    --transition-fast: .2s ease;
    --transition: .35s ease;
    --transition-slow: 6s ease;

    /*Z-INDEX*/

    --z-dropdown: 100;
    --z-sticky: 500;
    --z-fixed: 1000;
    --z-modal: 2000;
}